
<div class="row">

    @model IEnumerable<CustomerRewards.Models.Customers>

    @{
        ViewBag.Title = "Index";
    }

    <h2>Index</h2>

    <p>
        <li>@Html.ActionLink("Create New Record", "create", "Transaction", new { area = "" }, null)</li>
    </p>
    <table class="table">
        <tr>
            <th>Customer Id </th>
            <th>Customer Name </th>
            <th>Phone Number</th>
            <th>Email</th>
            <th>Total Cost</th>
            <th>Reward Points</th>
            <th>Purchase Date</th>
        </tr>

        @foreach (var item in Model)
        {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.CustomerId)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CustomerName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CustomerPhone)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Email)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TotalCost)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.RewardPoints)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PurchaseDate)
        </td>
        
    </tr>
        }

    </table>

    @*@{
        ViewBag.Title = "Index";
    }
    <div><b></b><br /></div>
    <table class="table table-bordered table-responsive table-hover">
        <tr>
            <th>Customer Id </th>
            <th>Customer Name </th>
            <th>Phone Number</th>
            <th>Email</th>
            <th>Total Cost</th>
            <th>Reward Points</th>
            <th>Purchase Date</th>
        </tr>
        @foreach (var d in Model)
        {
            <tr>
                <td>@d.CustomerId</td>
                <td>@d.CustomerName</td>
                <td>@d.CustomerPhone</td>
                <td>@d.Email</td>
                <td>@d.TotalCost</td>
                <td>@d.RewardPoints</td>
                <td>@d.PurchaseDate</td>

            </tr>

        }
    </table>*@
</div>
